/*reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 1170px;
  margin: auto;

  font-family: 'ubuntu', verdana;
}
/*iinizio menu nav*/
@media all and (min-width:992px) {
  .menu {
    width: 100%;
  }
  .logo {
    background: white;
    float: left;
    margin-left: 40px;
    line-height: 80px;
    font-size: 30px;
  }
  .lista-menu {
    float: right;
    margin-left: 90px;

  }
  .lista-menu li {
    display: inline-block;
    line-height: 80px;
    margin-left: 10px;
  }
  .lista-menu ul {
    text-align: right;
  }
  .lingue {
    margin-left: 20px;
  }
  .lingue li {
    display: inline-block;
    line-height: 80px;
    margin-right: 5px;
  }
}
@media all and (min-width: 769px) and (max-width: 991px) {
  .lista-menu {
    float: left;
    margin-left: 60px;

  }
  .lista-menu li {
    display: inline-block;
    line-height: 80px;
    margin-left: 10px;
  }
  .lista-menu ul {
    text-align: right;
  }
  .lingue {
    float: right;
    margin-right: 20px;
  }
  .lingue li {
    display: inline-block;
    line-height: 80px;
    margin-right: 5px;
  }
  .menu {
    width: 100%;
  }
  .logo {
    background: white;
    float: left;
    margin-left: 100px;
    line-height: 80px;
    font-size: 20px;
  }
}
@media all and (max-width: 768px) {

  .lista-menu {
    float: left;
    margin-left: 60px;
  }
  .lista-menu li {
    display: inline-block;
    line-height: 80px;
    margin-left: 10px;
  }
  .lista-menu ul {
    text-align: right;
  }
  .lingue {
    float: right;
    margin-right: 20px;
    display: none;
  }
  .lingue li {
    display: inline-block;
    line-height: 80px;
    margin-right: 5px;
  }
  .menu {
    width: 100%;
  }
  .logo {
    background: white;
    float: left;
    margin-left: 100px;
    line-height: 80px;
    font-size: 20px;
  }
}
/*fine menu*/
.fotonav  {
width: 100%;
height: 400px;
background-color: red;
background-image: url(../img/city-back.jpeg);
background-position: 50% 50%;
background-size: cover;
position: relative;
}
@media all and (min-width: 769px) {
  .testo-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50%);
  }
  .testo-nav h2 {
    color: white;
    text-align: center;
  }
  .testo-nav p {
    font-size: 10px;
    margin-top: 25px;
    text-align: center;
    color: white;
  }
  .app-nav {
    text-align: center;
    margin-top: 10px;
  }
  .app-nav img {
    width: 90px;
  }
}
@media all in and (max-width: 768px) {
  .testo-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50%);
  }
}
/*fine nav*/
/*reparto bici*/
.bici-uno li , a {
  text-decoration: none;
  list-style-type: none;
}
.testo-uno {
  text-align: center;
  padding-top: 10px;
}
.bici-uno {
  position: relative;
}
.bici-uno li {
  text-align: center;
  margin-top: 30px;
}
.foto-uno-bici-uno {
  width: 40%;
  margin-left: 30%;
}
.bici-uno img {
  width: 100%;
}
.bici-due li , a{
  text-decoration: none;
  list-style-type: none;
}
.bici-due li {
  text-align: center;
  margin-top: 30px;
}
.foto-due-bici-due {
  width: 40%;
  margin-left: 30%;
}
.foto-due-bici-due img {
  width: 100%;
}
/*fine reparto bici*/
.uomo {
  width: 100%;
  height: 300px;
  background-image:  url(../img/Helbizbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  position: relative;
}
.sinistra-telefono {
  width: 33%;
  height: 300px;
  float: left;
}
.centro {
  width: 33%;
  height: 500px;
  background-image: url(../img/iphone.png);
  background-size: cover;
  float: left;
  position: absolute;
  z-index: 1;
  top: 860px;
  left: 330px;
}
.sinistra-telefono h3 {
  text-align: right;
  padding-top: 20px;
}
.destra-telefono {
  width: 33%;
  height: 300px;
  float: right;
}
.destra-telefono p {
  margin-top: 30px;
}
@media all in (min-width: 769px) and (max-width: 991px) {
  .centro {
      width: 33%;
      height: 500px;
      background-image: url(../img/iphone.png);
      background-size: cover;
      float: left;
      position: absolute;
      z-index: 1;
      top: 1420px;
      left: 330px;
  }
}
@media all in (max-width: 768px) {
  .centro {
    width: 33%;
    height: 500px;
    background-image: url(../img/iphone.png);
    background-size: cover;
    float: left;
    position: absolute;
    z-index: 1;
    top: 1420px;
    left: 330px;
  }
}
/*inizio reparto social*/
.smart {
  height: 300px;
  background-image: url(../img/ScooterHelbiz-2400.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.smart h3 {
  text-align: right;
  color: white;
  margin-right: 40px;
  margin-top: 30px;
}
.smart p {
  color: white;
  text-align: right;
  margin-right: 20px;
  top:
}
@media  all in (min-width: 769px) and (max-width: 991px) {
  .smart {
    max-width: 100%;
  }
}
